@import "tailwindcss";

.animated-img {
  display: inline-block;
  transform-origin: center center;
  animation: rotate30 5s ease-in-out infinite;
}

@keyframes rotate30 {
  0% {
    transform: rotate(15deg);
  }
  50% {
    transform: rotate(-15deg);
  }
  100% {
    transform: rotate(15deg);
  }
}

.my-description {
  text-shadow: 0 0 8px #fff;
}
